h1 {
    display: flex;
    font-size: 50px;
    color: white;
    background-color: #1f0d45;
    justify-content: center;
    flex-wrap: wrap;
}
nav a{
    color: lightgreen;
}
.texto1{
    background-image: url(https://images.unsplash.com/photo-1436891620584-47fd0e565afb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    color: white;
}
.texto0{
    background-color: #1f0d45;
}
body{
    background-color: floralwhite;
}
.textofinal{
    background-color: white;
}
.aaa{
    display: flex;
    justify-content: center;
}

@media (max-width: 800px){
    h1{
        font-size: 25px;
    }
}