body{
    background-color: #6cc2ff;
}
#clouds{
    background-image: url('../img/clouds.png');
}
#base{
    background-image: url('../img/base.png');
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#mario{
    position: absolute;
    bottom: 0px;
}
